@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">


    <br />
    <br />
<h2 style="color : purple">@ViewData["Title"]</h2>

<br/>
<br />
<h3>Ihlamır Sokak Menekşe Apt. No:5</h3>
<h3>Çnkaya/Ankara</h3>

    <br />
<h3>E-Posta Adresimiz:</h3>
<h3><a href="mailto:emk.iletisim@gmail.com">emk.iletisim@gmail.com</a></h3>
</div>

